<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      <a href="/">Home</a>
      <a href="/users">Users</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      <div>
        <label for="email_or_username">Username:</label>
        <input type="text" id="email_or_username" name="email_or_username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
